# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# dependencies
/node_modules
packages/*/node_modules
/.pnp
.pnp.js

# IDE specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# log files
*.log

# environment files
.env
.env.*

# cache
.eslintcache

# build files
/build
/release
